<div id="add-person-app">
	<form @submit.prevent="add_person" >
		<div class="row rtl">
			<div class="input-group mb-3 col-md-4">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon3">نام : </span>
				</div>
				<input v-model="first_name" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
			</div>
	
			<div class="input-group mb-3 col-md-4">
				<div class="input-group-prepend ">
					<span class="input-group-text bg-warning" id="basic-addon3">نام خانوادگی : </span>
				</div>
				<input v-model="last_name" required type="text" class="form-control" id="basic-url2" aria-describedby="basic-addon3">
			</div>
			<div class="col-md-4 text-right">

				<button class="btn btn-success" @click="gender='مرد'" v-text="add+' مذکر'">					
				</button>

				<button class="btn btn-success" @click="gender='زن'" v-text="add+' مونث'">					
				</button>

			</div>
	
		</div>
	
	</form>
</div>