<div v-if="selected_family">

  <div class="card p-3">
    <div class="row rtl">
      <div class="col-6">
        <h5 v-if="selected_family.father" class="btn btn-link  d-block"
          @click="select_person(selected_family.father.id)">
          <div class="text-secondary">
            پدر

          </div>
          <div v-text="selected_family.father.full_name">

          </div>


        </h5>
      </div>

      <div class="col-6">
        <h5 v-if="selected_family.mother" class="btn  btn-link d-block"
          @click="select_person(selected_family.mother.id)">
          <div class="text-secondary">
            مادر

          </div>
          <div v-text="selected_family.mother.full_name">

          </div>

        </h5>
      </div>




    </div>


    <div class="cord-body">
      <h5 class="btn btn-link d-block" v-for="child in selected_family.childs" @click="select_person(child.id)">

        <span class="text-secondary">


          فرزند
        </span>

        <span v-text="child.full_name">

        </span>
      </h5>
    </div>



    <div class="card-footer">

      <form @submit.prevent="add_child(selected_family)">
        <div class="row rtl">
          <div class="col-md-8 mb-2">

            <input v-model="first_name" placeholder="نام " type="text" class="form-control"  
               >

          </div>
          <div class="col-md-4 mb-2">

            <button class="btn btn-success" v-text="'افزودن فرزند'">
            </button>
          </div>
          <div class="col-12 mb-2">
            <a :href="'{{ADMIN_URL}}{{APP_NAME}}/family/'+selected_family.id+'/change/'" class="btn btn-warning"> ویرایش</a>
          </div>
        </div>

      </form>

    </div>


  </div>





</div>