<div v-if="selected_family">

  <div class="card p-3">
    <div class="row rtl">
      <div class="col-6">
        <h5 v-if="selected_family.father" class="btn btn-link  d-block"
          @click="select_person(selected_family.father.id)">
          <div class="text-secondary">
            پدر

          </div>
          <div v-text="selected_family.father.full_name">

          </div>


        </h5>
      </div>

      <div class="col-6">
        <h5 v-if="selected_family.mother" class="btn  btn-link d-block"
          @click="select_person(selected_family.mother.id)">
          <div class="text-secondary">
            مادر

          </div>
          <div v-text="selected_family.mother.full_name">

          </div>

        </h5>
      </div>




    </div>


    <div class="cord-body">
      <div class="text-center" v-for="child in selected_family.childs">



        <span class="text-secondary" v-text="child.gender==MARD ? PESAR:DOKHTAR">

        </span>
        <button class="btn btn-link">
          <span @click="select_person(child.id)" v-text="child.full_name">

          </span>
        </button>



        <button class="btn btn-link text-danger " @click="remove_child0(child)">
          X
        </button>


      </div>


      <div class="my-2">
        <button class="btn btn-danger" @click="remove_child(selected_family.id)" v-if="selected_child.full_name"
          v-text="selected_child.full_name +' را حذف کن'"></button>
        <button class="btn btn-secondary" @click="selected_child={}" v-if="selected_child.full_name"> خیر</button>
      </div>

    </div>



    <div class="card-footer">

      <div class="row rtl">
        <div class="col-md-12 mb-2">
          <div v-if="secondary_person.full_name" class="mb-2">
            <button class="btn btn-block btn-primary" @click="add_child_to_family(secondary_person.id,selected_family)">

              افزودن
              <span v-text="secondary_person.full_name"></span>
              به عنوان فرزند
            </button>

          </div>


          <input v-model="first_name" placeholder="نام فرزند جدید " type="text" class="form-control">

        </div>
        <div class="col-md-6 mb-2">

          <button class="btn btn-success" @click="add_child(MARD,selected_family)" v-text="'افزودن پسر'">
          </button>
        </div>
        <div class="col-md-6 mb-2">

          <button class="btn btn-danger" @click="add_child(ZAN,selected_family)" v-text="'افزودن دختر'">
          </button>


        </div>
        <div class="col-12 mb-2">
          <a :href="'{{ADMIN_URL}}{{APP_NAME}}/family/'+selected_family.id+'/change/'" class="btn btn-warning">
            ویرایش خانواده
          </a>
        </div>
      </div>






    </div>


  </div>





</div>