<!doctype html>
<html class="zc-html">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>ZingSoft Demo</title>
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'leo/css/font-farsi.css' %}">
    <link rel="stylesheet" href="{% static 'leo/css/leo.css' %}">
    <style>
        * {
            font-family: "HMFONT";
        }
    </style>

    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <style>
        .zc-body {
            background: #fff;
        }

        .chart--container {
            height: 100%;
            width: 100%;
            min-height: 600px;
        }

        .zc-ref {
            display: none;
        }
    </style>
</head>
​

<body class="zc-body">
    ​
    <div id="myChart" class="chart--container">
        <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
    </div>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/374756/simpsons.js'></script>
    <script>
        let families = JSON.parse(`{{families_s|escapejs}}`)
        let base_person = JSON.parse(`{{person_s|escapejs}}`)
    </script>
    <script src="{% static 'app/constants.js' %}"></script>

    <script src="{% static 'app/chart.js' %}">
    </script>
    <script>
        // SIMPSONS = {}
        inserted_persons = []
        let log1 = 0

        log1 = 0
        console.log(log1.toString())

        var cfg = []
        families.forEach(family => {
            if (family.father) cfg.push({ type: 'node', id: 'family' + family.id.toString(), cls: 'fam', text: ' ', dataFullName: family.father.full_name })
            else if (family.mother) cfg.push({ type: 'node', id: 'family' + family.id.toString(), cls: 'fam', text: ' ', dataFullName: family.mother.full_name })

        });

        log1 = 1
        console.log(log1.toString())

        let style_person = function (id) {
            if (id == base_person.id) {
                if (base_person.gender === MARD)
                    return { backgroundImage: SIMPSONS.homer }
                if (base_person.gender === ZAN)
                    return { backgroundImage: SIMPSONS.marge }
                return { backgroundImage: SIMPSONS.ling }

            }
            else {
                return { backgroundImage: 'SIMPSONS.marge' }

            }
        }
        // persons.forEach(person => {
        //     cfg.push({ type: 'node', id: 'person' + person.id.toString(), text: person.full_name, dataFullName: person.full_name, style: { backgroundImage: SIMPSONS.marge } })
        // });
        log1 = 2
        console.log(log1.toString())
        families.forEach(family => {
            if (family.father) {
                cfg.push({ type: 'link', source: 'family' + family.id.toString(), target: 'person' + family.father.id.toString() })

                cfg.push({ type: 'node', id: 'person' + family.father.id.toString(), text: family.father.full_name, dataFullName: family.father.full_name, style: style_person(family.father.id) })
            }
            if (family.mother) {
                cfg.push({ type: 'link', source: 'family' + family.id.toString(), target: 'person' + family.mother.id.toString() })

                cfg.push({ type: 'node', id: 'person' + family.mother.id.toString(), text: family.mother.full_name, dataFullName: family.mother.full_name, style: style_person(family.mother.id) })

            }
            if (family.childs)
                family.childs.forEach(child => {
                    cfg.push({ type: 'link', source: 'family' + family.id.toString(), target: 'person' + child.id.toString() })
                    cfg.push({ type: 'node', id: 'person' + child.id.toString(), text: child.full_name, dataFullName: child.full_name, style: style_person(child.id) })

                });
        });

        log1 = 3
        console.log(log1.toString())

        var cdata = {
            type: 'tree',
            plotarea: {
                margin: 20
            },
            source: {
                align: 'left',
                text: 'Original idea by http://bmdata.co.uk/simpsons/'
            },
            options: {
                aspect: 'graph',
                springLength: 75,
                attractionConstant: 0.5,
                repulsionConstant: 3000,
                repulsionDistanceFactor: 500,
                node: {
                    size: 18,
                    borderWidth: 3,
                    borderColor: '#58b',
                    backgroundColor: '#fff',
                    backgroundRepeat: 'no-repeat',
                    backgroundScale: 0.75,
                    label: {
                        color: '#000',
                        fontWeight: 'bold',
                        offsetY: 25
                    },
                    tooltip: {
                        text: '%data-full-name'
                    }
                },
                'node[cls-fam]': {
                    size: 10,
                    borderWidth: 2,
                    borderColor: '#000',
                    backgroundColor: '#ccc',
                    label: {
                        visible: false
                    }
                },
                link: {
                    lineWidth: 2,
                    lineColor: '#0f0'
                }
            },
            series: cfg
        };

        zingchart.render({
            id: 'myChart',
            width: '100%',
            height: '130%',
            output: 'canvas',
            data: cdata
        });
    </script>
</body>

</html>