<!doctype html>
<html class="zc-html">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>ZingSoft Demo</title>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <style>
        .zc-body {
            background: #fff;
        }

        .chart--container {
            height: 100%;
            width: 100%;
            min-height: 600px;
        }

        .zc-ref {
            display: none;
        }
    </style>
</head>
​

<body class="zc-body">
    ​
    <div id="myChart" class="chart--container">
        <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
    </div>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/374756/simpsons.js'></script>
    <script>
        let families=JSON.parse(`{{families_s|escapejs}}`)
        let persons=JSON.parse(`{{persons_s|escapejs}}`)
    </script>
    <script src="{% static 'app/chart.js' %}"></script>
</body>

</html>