{% extends 'app/layout.html' %}
{% load static %}

{% block content %}

<div class="row rtl">
    <div class="col-12 text-right mb-2">

        <a class="btn btn-success" href="{% url 'app:chart2' %}">نمودار 2</a>
        <a class="btn btn-success" href="{{ADMIN_URL}}">ادمین</a>
        <a class="btn btn-success" href="{{ADMIN_URL}}app/family/add/">خانواده جدید</a>
    </div>
    <div class="col-12 mb-2">
        {% include 'app/includes/add-person-form.html' %}
        
    </div>

    <div class="col-md-12 mb-2">
        {% include 'app/includes/persons.html' %}
    </div>
    <div class="col-md-12 mb-2">

        {% include 'app/includes/person.html' %}
    </div>
  
    <div class="col-md-4 mb-2">
        
        {% include "app/includes/family.html" %}
    </div>
</div>



{% endblock content %}

{% block script %}
<script>
    let persons = JSON.parse(`{{persons_s|escapejs}}`)
    let person = {}

    let url_add_person = "{% url 'app:add_person' %}"

    let url_get_person = "{% url 'app:get_person' %}"

    let url_delete_person = "{% url 'app:delete_person' %}"
    let url_select_family = "{% url 'app:select_family' %}"
    let url_add_child = "{% url 'app:add_child' %}"
    let url_search_person = "{% url 'app:search_person' %}"
    let url_create_family = "{% url 'app:create_family' %}"
    let url_remove_child = "{% url 'app:remove_child' %}"
</script>
{% csrf_token %}
<script>
    var csrfmiddlewaretoken = ''
    $(document).ready(function () {
        //   md.checkFullPageBackgroundImage();


        csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()


        // $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
    });
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script src="{% static 'app/person.js' %}"></script>
<script src="{% static 'app/persons.js' %}"></script>
<script src="{% static 'app/add_person_form.js' %}"></script>
<script src="{% static 'app/family.js' %}"></script>
{% endblock script %}