{% extends 'app/layout.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-4">

            {% include 'app/includes/person.html' %}
        </div>
        <div class="col-md-4">
            {% include 'app/includes/add-person-form.html' %}
            
        </div>
        <div class="col-md-4">
            {% include 'app/includes/persons.html' %}
        </div>
    </div>



{% endblock content %}

{% block script %}
<script>
    let persons = JSON.parse(`{{persons_s|escapejs}}`)
    let person = {}

    let add_person_url = "{% url 'app:add_person' %}"

    let get_person_url = "{% url 'app:get_person' %}"

    let delete_person_url = "{% url 'app:delete_person' %}"
</script>
{% csrf_token %}
<script>
    var csrfmiddlewaretoken = ''
    $(document).ready(function () {
        //   md.checkFullPageBackgroundImage();


        csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()


        // $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
    });
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script src="{% static 'app/persons.js' %}"></script>
<script src="{% static 'app/person.js' %}"></script>
<script src="{% static 'app/add_person_form.js' %}"></script>
{% endblock script %}